<h2>Here are your current tasks:</h2>

<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
      <%= link_to task_path(task), data: { turbo_method: :patch } do %>
        <% if task.completed %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
      <% end %>
      <%= link_to task.title, task %>
      <%= link_to 'X', task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this task?" } %>
    </li>
  <% end %>
</ul>
<p><%= link_to 'Create a new task', new_task_path %></p>
